<%-include('partials/header')%>

<main id="main">
    <div class="container">
        <div class="justify" style="margin: 15px;padding: 5px;background-color: #f8f9fa!important;color: #000 !important;font-size: 20px;">
            <a href="/">
            <span class="text-gradient">All users</span>
            </a>
            <a href="/secret">
                <span class="text-gradient">Secret</span>
            </a>
            <a href="/login">
                <span class="text-gradient">Login</span>
            </a>
            <a href="/logout">
                <span class="text-gradient">Logout</span>
            </a>
        </div>
        <div><h2>Welcome,you are successfully logged in</h2></div>
    </div>
</main>

<%-include('partials/footer')%>